@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
  background: rgb(222, 239, 248);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
main{
  min-height: 100vh;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
}

h1{
  letter-spacing: 0.1em;
  font-size: 4em;
}
span{
  font-size: 5em;
  font-weight: 600;
}
.container-buttons{
  margin-top: 3em;
}
button{
  background: none;
  padding: 4px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: larger;
  letter-spacing: 0.2em;
  transition: 0.3s ease-in-out;
  font-style: italic;
}

button:hover{
  background: black;
  color: white
}

.text-increment{
  color:green;
}
.text-decrement{
  color: red;
}
.text-reset{
  color: black;
}